@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header ul{
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.btn_1{
    height: 38px;
    background-color: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
 header .current a{
    color:#5E5DF0;
}
div.dark{
    background-color: #35424a;
    padding: 15px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Header */
header{
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    padding-top: 15px;
    min-height: 50px;
    /* border-bottom: #cc1212 3px solid; */
}
header a{
    text-decoration:  none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 16 px;
}

header li{
    float: left;
    /* display in one line */
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float:right;
    margin-top: 10px;
}
a.service{
    background-color: #5E5DF0;
    color: white;
    border-radius:2em;
    padding: 10px;

}
header a:hover{
    font-weight:bolder;
    color: #fa8e01;
}
/* Showcase */
#showcase{
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color:  white;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
/* Newsletter */
#newsletter{
    padding: 15px;
    background-color: #35424a;
    color: #ffffff;
}
#newsletter h1{
     float: left;
}
#newsletter form{
    float:right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
        padding: 4px;
        height: 25px;
        width: 250px;
}
/* Boxes */
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width:30%;
    padding: 10px;
}
#boxes .box img{
    width: 90px;
}
/* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
/* main col */
article#main-col{
    float: left;
    width: 65%;
}
/* Service */
.connect h1{
    text-align:center;
    font-size:40px;
    font-family: 'Inter', sans-serif;
    color: #5E5DF0;
}
#boxes_service{
    text-align: center;
    margin-top: 103px;
    margin-bottom:103px;
    width: 100%;
    text-decoration: solid;
}
#boxes_service .box{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;

    font-size:50px;
}
#boxes_service .box img{
    width: 50px;
}
#boxes_service .box img:hover{
    cursor: pointer;
    width: 55px;
}
/* footer */
footer{
    padding: 20px;
    margin-top: 20px;
    color: #FFFFFF;
    background-color:#35424a;
    text-align: center;
}
/* Media queries */
@media (max-width:768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
    }
    header nav{
        margin-top:20px ;
            margin-bottom: 15px;
    }
   .btn_1,#newsletter form input[type="email"]{
       margin-top: 5px;
       width: 100%;
   }

  
}
@media (max-width:503px) {
    #boxes_service .box{
        display: block;
    }
}
@media (max-width:426px) {

    ul#social li img{ 
        margin-top: 20px;
        width: 25%;
    }
}
@media (max-width:320px) {
    header #branding,
    header nav
   
    {
            font-size: 88%;
    }
     header nav li{
         padding: 5px;
         font-size:20px;
         display: block;
     }
     #showcase{
         width: 100%;
     }
     #showcase h1{
        font-size:50px;
    }
    ul#social li img{ 
        display: block;
        margin-top: 20px;
        margin-left: 60px;
        width: 25%;
    }
  
    
}
